In [57]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import datetime
import requests
import numpy as np
import pandas as pd

In [58]:
# today = datetime.date.today()
today = datetime.date(2021, 5, 28)

if len(pd.bdate_range(today, today)) > 0:
    today_string = f"{today.day}-{today.month}-{today.year}"
    data = pd.read_html(f"https://www.gpw.pl/archiwum-notowan?fetch=0&type=10&instrument=&date={today_string}&show_x=Poka%C5%BC+wyniki")
    data[1].head()

,Nazwa,Waluta,Kurs otwarcia,Kurs maksymalny,Kurs minimalny,Kurs zamknięcia,Zmiana kursu %,Wartość obrotu (w tys.)
0,06MAGNA,PLN,27400,27800,26600,27100,-109,3288
1,08OCTAVA,PLN,10300,10500,10300,10300,0,012
2,11BIT,PLN,5050000,5230000,5000000,5090000,79,"2 090,31"
3,3RGAMES,PLN,07380,07380,07200,07300,282,307
4,4FUNMEDIA,PLN,52600,55400,52400,54600,263,24864

In [59]:
today = datetime.date.today()
# today = datetime.date(2021, 5, 28)

if len(pd.bdate_range(today, today)) > 0:
    today_string = f"{today.day}-{today.month}-{today.year}"
    data = pd.read_html(f"https://www.gpw.pl/archiwum-notowan?fetch=0&type=10&instrument=&date={today_string}&show_x=Poka%C5%BC+wyniki")
    data[1].head()
else:
    print("Not a business day")

Not a business day